*/node_modules/*
*/__pycache__/*
*.pyc
*/dist/*
/backend/stash_ai_server/plugins/*
/backend/config.env
backend/config.env
/backend/build/*
*.egg-info
/backend/data/app.db
.vscode/launch.json
backend/plugins/skier_aitagging_plugin/tag_settings.csv

# System files
.DS_Store
