fastapi==0.121.0
uvicorn[standard]==0.38.0
SQLAlchemy==2.0.44
alembic==1.17.1
pydantic==2.12.4
python-dotenv==1.2.1
pytest==9.0.0
pytest-asyncio==1.2.0
httpx==0.28.1
stashapi==0.1.2
PyYAML==6.0.3
packaging==25.0
